<!--トップ画像-->
<div class="swiper top-slides">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag 'top/anastasiia-chepinska-lcfH0p6emhw-unsplash.jpg', class: 'top-slider-img' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'top/ben-kolde--sKBWdCyBLg-unsplash.jpg', class: 'top-slider-img' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'top/jonathan-borba-21tOEaJPM_o-unsplash -sizeChange.jpg', class: 'top-slider-img' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'top/nathan-dumlao-6VhPY27jdps-unsplash.jpg', class: 'top-slider-img' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'top/rodrigo-flores-sn87TQ_o7zs-unsplash.jpg', class: 'top-slider-img' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'top/tyler-nix-72VzVRVnWLE-unsplash.jpg', class: 'top-slider-img' %>
    </div>
  </div>
</div>
<!--コンテンツ部分-->
<div class="container py-md-4">
  <!--キャッチコピー-->
  <div id="square__warp" class="position-relative">
    <h1 id="square__title" class="position-absolute">JavaJam</h1>
    <div id="square__box" class="position-absolute"></div>
    <div id="square__contents" class="position-absolute">
      淹れたてコーヒー。最後の一滴まで美味しい。<br>
      あなたに最高の一杯を愉しんでいただきたい。<br>
      <h2 id="marker__white">Enjoy Coffee Life.</h2>
    </div>
  </div>


  <!--レシピブックマーク順-->
  <div class="row pt-md-5">
    <div class="col-md-4 bg-primary mb-3 mb-md-0">
      <div id="bookmark__rank" class="py-5">
        <h3 id="marker__brown"><i class="fa-solid fa-crown"></i> 人気レシピ</h3>
        <p class="pt-5">ブックマーク数が多い人気のレシピです</p>
        <p>普段とちがう淹れ方で</p>
        <p>味の変化を楽しんで！</p>
      </div>
    </div>
    <!--swiper部分-->
    <div class="col-md-8">
      <div class="swiper bookmark-slides">
        <div class="swiper-wrapper">
          <% @recipes.each_slice(2) do |recipes| %>
            <div class="swiper-slide p-md-5">
              <div class="row">
                <% recipes.each do |recipe| %>
                  <div class="col-md-12 col-lg-6 mb-3">
                    <div class="card">
                      <% if recipe.recipe_image.attached? %>
                        <%= link_to (image_tag recipe.recipe_image, class: 'img-fluid note-img'), recipe_path(recipe.id) %>
                      <% else %>
                        <%= link_to (image_tag 'top/anastasiia-chepinska-lcfH0p6emhw-unsplash.jpg', class: 'img-fluid note-img'), recipe_path(recipe.id) %>
                      <% end %>
                      <div class="card-body">
                        <h5 class="card-title" data-toggle="tooltip" data-placement="top" title="<%= recipe.title %>">
                          <%= link_to recipe.title.truncate(10), recipe_path(recipe.id) %>
                        </h5>
                        <p class="card-text"><%= recipe.contents.truncate(20) %></p>
                        <span id="evaluation-<%= recipe.id %>"></span>
                      </div>
                      <div class="card-footer text-right">
                        <small class="text-black-50">
                          <%= recipe.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %>
                        </small>
                      </div>
                    </div>
                  </div>
                  <script>
                    $(document).ready(function(){
                      var elem = document.querySelector('#evaluation-<%= recipe.id %>');
                      if (elem == null) return;

                      elem.innerHTML = ""
                      raty(elem, {
                        starOn: "<%= asset_path('raty/star-on.png') %>",
                        starOff: "<%= asset_path('raty/star-off.png') %>",
                        starHalf: "<%= asset_path('raty/star-half.png') %>",
                        score: "<%= recipe.evaluation %>",
                        half: true,
                        readOnly: true
                      });
                    });
                  </script>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <% if user_signed_in? %>
    <!--フォローしたユーザーの新着投稿-->
    <div class="py-5">
      <h3 style="font-size: calc(20px + 1vw);">フォローユーザーの新着投稿</h3>
      <hr>
    <!--レシピ-->
    <% if @follows.present? %>
      <div class="">
        <h4><i class="fa-solid fa-mug-hot"></i> 新規レシピ</h4>
          <div class="row">
            <% @bm_recipes.each do |recipe| %>
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                  <% if recipe.recipe_image.attached? %>
                    <%= link_to (image_tag recipe.recipe_image, class: 'img-fluid note-img'), recipe_path(recipe.id) %>
                  <% else %>
                    <%= link_to (image_tag 'top/anastasiia-chepinska-lcfH0p6emhw-unsplash.jpg', class: 'img-fluid note-img'), recipe_path(recipe.id) %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title" data-toggle="tooltip" data-placement="top" title="<%= recipe.title %>">
                      <%= link_to recipe.title.truncate(10), recipe_path(recipe.id) %>
                    </h5>
                    <p class="card-text"><%= recipe.contents.truncate(20) %></p>
                    <span id="evaluation-bm-<%= recipe.id %>"></span>
                  </div>
                  <div class="card-footer text-right">
                    <small class="text-black-50">
                      <%= recipe.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%M分') %>
                    </small>
                  </div>
                </div>
              </div>
              <script>
                $(document).ready(function(){
                  var elem = document.querySelector('#evaluation-bm-<%= recipe.id %>');
                  if (elem == null) return;

                  elem.innerHTML = ""
                  raty(elem, {
                    starOn: "<%= asset_path('raty/star-on.png') %>",
                    starOff: "<%= asset_path('raty/star-off.png') %>",
                    starHalf: "<%= asset_path('raty/star-half.png') %>",
                    score: "<%= recipe.evaluation %>",
                    half: true,
                    readOnly: true
                  });
                });
              </script>
            <% end %>
          </div>
        </div>
      <% else %>
        <div>
          <h4 class="pt-3" id="marker__white">お気に入りのユーザーを見つけよう</h4>
          <!--カードでユーザー表示-->
          <div class="row">
            <% @users.each do |user| %>
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= link_to (image_tag user.get_profile_image(35, 35), class: 'rounded-circle img-fluid'), user_path(user) %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= link_to user.name, user_path(user) %></h6>
                    <p class="card-text"><%= user.profile %></p>
                    <div id="follow-btn_<%= user.id %>">
                      <%= render 'users/follows/btn', user: user %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  <% else %>
  <!--新規登録のリンク-->
    <div class="col">
      <hr>
      <div class="d-flex align-items-center flex-column py-5">
        <div>
          <h2 id="marker__white">新規登録してお気に入りのレシピやユーザーを見つけよう</h3>
        </div>
        <div class="py-5">
          <%= link_to new_user_registration_path ,class: 'btn btn-primary rounded-pill p-3' do %>
            <h3 class="m-0">新規登録はコチラ</h1>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  // Swiperを実行(初期化)
  $(document).ready(function(){
    new Swiper('.top-slides', {
      loop: true,
      autoplay: {
        delay: 6000,
      },
      speed: 600,
    });

    new Swiper('.bookmark-slides', {
      loop: true,
      autoplay: {
        delay: 8000,
      },
      speed: 600,
    });

  });
</script>