<div class="container py-5">

  <div class="d-flex justify-content-around">
    <!--フォロー-->
    <div class="col-6">
      <h2><i class="fa-solid fa-user-group"></i> follows <small>(<%= @follows.count %>)</small></h2>
      <hr>
      <ul class="list-unstyled">
        <% @follows.each do |follow| %>
          <li class="py-1">
            <%= link_to (image_tag follow.user.get_profile_image(40, 40), class: 'rounded-circle img-fluid'), user_path(follow.user) %>
            <%= link_to follow.user.name, user_path(follow.user), class: "h5" %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--フォロワー-->
    <div class="col-6">
      <h2><i class="fa-solid fa-user-group"></i> followers <small>(<%= @followers.count %>)</small></h2>
      <hr>
      <ul class="list-unstyled">
        <% @followers.each do |follower| %>
          <li class="py-1">
            <%= link_to (image_tag follower.get_profile_image(40, 40), class: 'rounded-circle img-fluid'), user_path(follower.id) %>
            <%= link_to follower.name, user_path(follower.id), class: "h5" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>