<div class="container py-5">

  <h3 class="mb-3"><%= @note.title %></h3>
  <div class="d-block d-md-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= link_to (image_tag @note.user.get_profile_image(50,50), class: 'rounded-circle d-block'), user_path(@note.user)%>
      <span class="ml-3"><%= @note.user.name %></span>
    </div>

    <% if user_signed_in? && @note.user_id == current_user.id %>
      <div class="mt-3 mt-md-0">
        <%= link_to '編集する', edit_note_path(@note), class: 'btn btn-outline-success' %>
        <%= link_to '削除する', note_path(@note), method: :delete, class: 'btn btn-outline-danger', data: { confirm: '本当に削除しますか？'} %>
      </div>
    <% end %>
  </div>

  <%= image_tag 'top/anastasiia-chepinska-lcfH0p6emhw-unsplash.jpg', class: 'img-fluid my-3' %>

  <%= simple_format(@note.contents, sanitize: true, class: 'm-0') %>
</div>