<!--画像追加-->
<div class="form-group mt-5">
  <div class="row">
    <div class="offset-0 offset-md-4 col-md-8">
      <div class="custom-file">
        <%= f.file_field :recipe_process_image, accept: "image/*", class: 'custom-file-input', onchange: 'fileOnChange(this);' %>
        <%= f.label :recipe_process_image, '画像を選択してください', class: 'custom-file-label' %>
      </div>
    </div>
  </div>
</div>
<!--手順追加-->
<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center">
      <%= f.label :process, '手順', class: 'm-0' %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :process, class: 'form-control' %>
    </div>
  </div>
</div>
<!--説明-->
<div class="form-group">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center">
      <%= f.label :description, '説明', class: 'm-0' %>
    </div>
    <div class="col-md-8">
      <%= f.text_area :description, class: 'form-control', rows: 3 %>
    </div>
  </div>
</div>