<div class="container py-5">
  <div class="row">

    <div class="col">
      <h3 class="text-center pb-5">レシピ編集</h3>

      <div class="text-center bg-primary">
        <% if @recipe.errors.any? %>
          <ul class="list-unstyled">
            <% @recipe.errors.full_messages.each do |recipe| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <%= form_with model: @recipe, url: recipe_path(@recipe), method: :patch do |f| %>
        <!--レシピタイトル-->
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center">
              <%= f.label :title, 'タイトル', class: 'm-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :title, class: 'form-control'%>
            </div>
          </div>
        </div>
        <!--画像追加-->
        <div class="form-group">
          <div class="row">
            <div class="offset-0 offset-md-4 col-md-8">
              <div class="custom-file">
                <%= f.file_field :recipe_image, accept: "image/*", class: 'custom-file-input', onchange: 'fileOnChange(this);' %>
                <%= f.label :recipe_image, '選択してください', class: 'custom-file-label' %>
              </div>
            </div>
          </div>
        </div>
        <!--コンテンツ(レシピの内容)-->
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center">
              <%= f.label :contents, 'レシピ', class: 'm-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_area :contents, class: 'form-control', rows: 10 %>
            </div>
          </div>
        </div>
        <!--タグ-->
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center">
              <%= f.label :tags, 'タグ', class: 'm-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :tags, value: @recipe.tags.pluck(:name), class: 'form-control', placeholder: "タグを入力" %>
            </div>
          </div>
        </div>
        <!--評価-->
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-start justify-content-md-end align-items-center">
              <label class="m-0">評価</label>
            </div>
            <div class="col-md-8"><!--星の画像のところ-->
              <span id="evaluation"></span>
            </div>
          </div>
        </div>
        <%= f.fields_for :recipe_processes do |f| %>
          <%= render 'recipe_process_fields', f: f %>
        <% end %>
        <!--手順(cocoon)-->
        <div class="form-group text-right">
          <%= link_to_add_association '手順追加',
                                      f,
                                      :recipe_processes,
                                      class: 'btn btn-secondary'
          %>
        </div>
        <!--変更ボタン-->
        <div class="form-group">
          <div class="row mt-3">
            <div class="col-md-8 offset-0 offset-md-4">
              <button type="submit" class="btn btn-primary btn-block">内容を変更する</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
//ratyの星
  $(document).ready(function(){
    let elem = document.querySelector('#evaluation');
    if (elem == null) return;

    elem.innerHTML = ""
    raty(elem, {
      starOn: "<%= asset_path('raty/star-on.png') %>",
      starOff: "<%= asset_path('raty/star-off.png') %>",
      starHalf: "<%= asset_path('raty/star-half.png') %>",
      scoreName: "recipe[evaluation]",
      score: "<%= @recipe.evaluation %>",
      half: true
    });
  });

//画像の名前/以降が表示されるようにする
  function fileOnChange (elem) {
    $(elem).next('.custom-file-label').html($(elem).val().split('\\').pop());
  };
</script>