<header class="position-fixed w-100">
  <nav class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <%= image_tag 'logo.png', class: 'logo' %>
    <ul class="d-flex list-unstyled m-0 menu__basic">
      <li><%= link_to 'レシピ', root_path, class: 'text-decoration-none text-ivory' %></li>
      <li><%= link_to '道具', root_path, class: 'text-decoration-none text-ivory' %></li>
      <li><%= link_to 'ノート', root_path, class: 'text-decoration-none text-ivory' %></li>
    </ul>
    <ul class="d-flex list-unstyled m-0 menu__login">
      <% unless user_signed_in? %>
        <li><%= link_to '新規登録', new_user_registration_path, class: 'text-decoration-none text-ivory' %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: 'text-decoration-none text-ivory' %></li>
      <% else %>
        <li><%= link_to 'マイページ', user_path(current_user), class: 'text-decoration-none text-ivory' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'text-decoration-none text-ivory' %></li>
      <% end %>
    </ul>
  </nav>
</header>
<% if notice %>
  <div class="alert alert-success" role="alert">
    <div class="container">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert">
    <div class="container">
      <%= alert %>
    </div>
  </div>
<% end %>