<!DOCTYPE html>
<html>
  <head>
    <title>JavaJam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d5646ab70c.js" crossorigin="anonymous"></script>

  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/header' %>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
