<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2>新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name, '名前' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <small class="text-black-50">(6文字以上)</small>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード確認' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>